<div class="container soon">
  <div class="row">
    <div align="center"><%=image_tag "dubstep_cat.png"%></div>
  </div>
  <div class="row">
    <h2 class="title">soon</h2>
  </div>
  <div class="row">
    <div align="center" class="section">
      <hr/>
      <p>FILLER TEXT: It has already been hinted that Tuesday was a day of general mortification in Pym's copy-department. The trouble was caused by Messrs. Toule &amp; Jollop, proprietors of Nutrax, Maltogene, and Jollop's Concentrated Lactobeef Tablets for Travellers. Unlike the majority of clients who, though all tiresome in their degree, exercised their tiresomeness by post from a reasonable distance and at reasonable intervals, Messrs. Toule &amp; Jollop descended upon Pym's every Tuesday for a weekly conference.</p>
      <div align="right"><a href="/signout" class="btn logout">Logout</a></div>
    </div>
  </div>
</div>
