<%= render "qualtrics_survey_control"%>
<div class="container soon">
  <div class="row">
    <div align="center"><!--<iframe src="http://player.vimeo.com/video/36820781?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen class="dubstep_cat"></iframe>--><%=image_tag "dubstep_cat.png"%></div>
  </div>
  <div class="row">
    <h2 class="title">Take The Survey</h2>
    <div align="center" class="section">
      <hr/>

      <p>You are seeing this page because you are in the control group for our research. Thanks for your patience! Please <a href="https://qtrial.qualtrics.com/SE/?SID=SV_3faNJtWl9jrarRj" class="btn" target="_new">take the survey</a> &mdash; for science!</p> <p>We hope you accept this photo of Dubstep Cat as a consolation prize. After our study concludes, we will follow up and give you a chance to access the full version.</p>
    </div>
  </div>
  <div class="row">
    <h2>What Is FollowBias?</h2>
    <div align="center" class="section">
      <hr/>
      <p>On social media, we each choose who to listen to for news, opinion, and conversation. Those choices influence what we see, what we miss, and what our biases are. When we share or retweet content, we pass our biases to others.</p>
      <p>FollowBias estimates the gender diversity of the voices you pay attention to on Twitter. It accesses the public list of accounts you follow and guesses their genders based on name. Check back anytime to see how your FollowBias has changed; our server updates it every six hours.</p>
      <p>FollowBias only collects public information that you reveal on your public Twitter profile. You can close your account anytime by following these <a href="https://support.twitter.com/articles/76052-connecting-or-revoking-third-party-applications">instructions on revoking third party access</a>.</p>
    </div>
  </div>

  <div class="row">
    <h2 class="title">About Us</h2>
    <div align="center" class="section">
      <hr/>
      <p>FollowBias is a collaboration by <a href="https://twitter.com/natematias">J. Nathan 
Matias</a>, <a href="http://twitter.com/dearsarah">Sarah Szalavitz</a>, and <a href="https://
twitter.com/jameshome">James Home</a>. It's part of <a href="http://hypatia.media.mit.edu:300
0/">Nathan's work at the MIT Media Lab</a> to expand how we measure and change gender diversity in the media. It's part of Sarah's efforts toward <a href="http://www.wired.co.uk/magazine
/archive/2012/04/ideas-bank/sarah-szalavitz">gender diversity in technology and social media</a>.</p>
      <p>Email us at <strong><a href="mailto:followbias@gmail.com">followbias@gmail.com</a></strong> with questions about FollowBias, <a href="http://source.mozillaopennews.org/en-US/articles/under-hood-open-gender-tracker/">Open Gender Tracker</a>, and our other projects focused on gender diversity.</p>

      <div align="right"><a href="/signout" class="btn logout">Logout</a></div>
    </div>
  </div>
</div>
