/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
  margin:0px;
  padding:0px;
  background:rgb(91,91,91);
}

.twitter{
  font-family:sans-serif;
  display:inline-block; 
  width:180px;
  height:30px;
  margin-right:5px;
  margin-bottom:5px;
  padding:2px;
  border-radius:2px;
}

.twitter a{
  text-decoration:none;
  color:#999;
}

.twitter .name{
  font-size:16px;
}

.twitter .account{
  font-size:12px;
  display:block;
}

.twitter.Female{
  background:#Fcc;
}
.twitter.Female a{
  color: #f33;
}

.twitter.Male{
  background:#cdf;
}
.twitter.Male a{
  color:#36f;
}

.twitter.Unknown{
  background:#eee;
}
