html,body{
  width:100%;
  height:100%;
  margin:0;
}

svg{
  margin:0px;
  padding:0px;
}

#followbias{
  display:block;
  width:100%;
  height:100%;  
  bottom:0px;
  background:rgb(91,91,91);
}

#content{
  background:rgb(91,91,91);
  width:100%;
}

#followbias #foreground{
  font-family: 'Lato', sans-serif; 
  font-weight:400; 
  font-size:78px; 
  line-height:80px; 
  position:absolute; 
  z-index:1000; 
  top:50%; 
  left:50%;
  display:inline-block
  text-align:center;
}

#foreground h1{
  font-size:18px;
}

#foreground h2{
  font-size:32px;
}

#foreground h1, #foreground h2{
  margin:0px;
  padding:0px;
}

#foreground .contents{
  color:#eee;
  opacity:1.0;
  text-shadow:1px 1px 1px #666;
  text-align:center;
  margin-left:-100%;
}

#background{
  position:absolute;
  z-index:100;
  height:100%;
  width:100%;
  overflow:hidden;
}

#background #main_glasses{
  position:absolute;
  z-index:110;
  top:50%;
  left:50%;
}

#men_percent,#women_percent{
  color:white;
  font-weight:bold;
  position:absolute;
  z-index:120;
}

#men_percent{
}

#topbar{
  margin-top:-65px;
  z-index:1000;
  position:fixed;
  top:0px;
  width:100%;
  text-align:center;
  color:#fff;
  background:#333);
  -webkit-box-shadow: 0 4px 8px -2px #000000;
     -moz-box-shadow: 0 4px 8px -2px #000000;
          box-shadow: 0 4px 8px -2px #000000;
}

#topbar .baritem{
  font-family: 'Lato', sans-serif; 
  font-weight:400;
  font-size:40px; 
  line-height:60px;
  left:0px; 
  position:absolute; 
  width:50%; 
  text-align:left;
}

.brand{
  position: relative;
  z-index:1100;
}

.brand span{
  color:#eee;
  display:inline-block;
  position:absolute;
  font-weight:bold;
  font-size:18px;
  text-shadow:1px 1px 1px #666;
}

.brand .men{
  top:2px;
  left:37px;
}

.brand .women{
  top:2px;
  left:120px;
}

.section{
  margin:0 auto; width:550px;
  color:#eee;
}

.section p{
  font-size:12pt;
  line-height:200%;
  font-family: "Lora", serif;
  margin-bottom:20px;
}

#content .row:nth-child(2n+1){
  background:rgb(82,82,82);
}

.section h2{
  font-size:28px;
  font-family: 'Lato', sans-serif;
  text-align:center;
  margin-bottom:20px;
  text-shadow:0px 0px 2px #111;
}

.section hr{
  width:80%;
  margin:0 auto;
  margin-bottom:40px;
  border-color:#aaa;
}

.correct_account{
  margin: 0 auto;
  background:rgb(82,82,82);
  border-radius:5px;
  padding:10px;
  margin-bottom:5px;
  position:relative;
  width:80%;
}

.correct_account img{
  border-radius:5px;
  vertical-align:top;
}

.correct_account .account{
  display:inline-block;
  margin-left:10px;
}

.correct_account .screen_name{
  display:block;
  font-family: 'Lato', sans-serif;
  color:white;
  font-size:11pt;
}

.correct_account a.screen_name:hover{
  text-decoration:none;
}

.correct_account .name{
  display:block;
  font-family: "Lora", serif;
  font-size:11pt;
}

.correct_account .corrections{
  position:absolute;
  right:0px;
  margin-right:10px;
}

.correction{
  display:inline-block;
  font-family: 'Lato', sans-serif;
  font-size:20px;
  font-weight:bold;
  color:white;
  width:40px;
  height:40px;
  background:rgb(91,91,91);
  border-radius:30px;
  text-align:center;
  line-height:40px;
  margin:5px;
  margin-left:10px;
  cursor:pointer;
}

.correction.m{
  background:rgb(113,121,132);
}

.correction.f{
  background:rgb(152,116,124);
}

.correction.x{
  background:rgb(41,41,41);
}

.correction.selected{
  border:5px solid white;
  box-shadow:0px 0px 10px #aaa;
  margin:0px;
  margin-left:5px;
}

.correction.m.selected{
  background:rgb(143,159,182);
}

.correction.f.selected{
  background:rgb(222,149,166);
}

.correction.b.selected{
  background:rgb(130,130,130);
}

.correction.x.selected{
  background:#363636;
}
