html,body{
  width:100%;
  height:100%;
  margin:0;
}

p strong{
  text-shadow:1px 1px 1px rgba(71,71,71,0.7);
  color:white;
}

.appearonload{
  display:none;
}

svg{
  margin:0px;
  padding:0px;
}

#followbias{
  display:block;
  width:100%;
  height:100%;  
  bottom:0px;
  background:rgb(91,91,91);
}

#content{
  background:rgb(91,91,91);
  width:100%;
}

#followbias #foreground{
  font-family: 'Lato', sans-serif; 
  font-weight:400; 
  font-size:78px; 
  line-height:80px; 
  position:absolute; 
  z-index:1000; 
  top:50%; 
  left:50%;
  display:inline-block;
  text-align:center;
}

#foreground h1{
  font-size:18px;
}

#foreground h2{
  font-size:32px;
}

#foreground h1, #foreground h2{
  margin:0px;
  padding:0px;
}

#foreground .contents{
  color:#eee;
  opacity:1.0;
  text-shadow:1px 1px 1px rgba(71,71,71,0.7);
  text-align:center;
  margin-left:-100%;
}

#background{
  position:absolute;
  z-index:100;
  height:100%;
  width:100%;
  overflow:hidden;
}

#background #main_glasses{
  position:absolute;
  z-index:110;
  top:50%;
  left:50%;
}

#men_percent,#women_percent,#bots_percent{
  color:white;
  font-weight:bold;
  position:absolute;
  z-index:120;
}

#background .value_label{
  display:block;
  text-align:center;
}

#background .value{
  display:block;
  text-align:center;
  text-shadow: 0px 1px 2px rgba(71,71,71,0.3);
}

#topbar{
  margin-top:-65px;
  z-index:1000;
  position:fixed;
  top:0px;
  width:100%;
  text-align:center;
  color:#fff;
  background:#333;
  -webkit-box-shadow: 0 4px 8px -2px #000000;
     -moz-box-shadow: 0 4px 8px -2px #000000;
          box-shadow: 0 4px 8px -2px #000000;
}

#topbar .baritem{
  font-family: 'Lato', sans-serif; 
  font-weight:400;
  font-size:40px; 
  line-height:60px;
  left:0px; 
  position:absolute; 
  width:50%; 
  text-align:left;
}

#topbar .brand img{
}

#topbar .baritem a{
  font-color:auto;
  color:#fff;
  opacity:0.6;
}
#topbar .baritem a:hover{
  text-decoration:none;
  font-color:auto;
  color:#fff;
}

.brand{
  position: relative;
  z-index:1100;
}

.brand span{
  color:#eee;
  display:inline-block;
  position:absolute;
  font-weight:bold;
  font-size:18px;
  text-shadow:1px 1px 1px #666;
}

.brand .men{
  top:2px;
  left:37px;
}

.brand .women{
  top:2px;
  left:120px;
}

.nav_group{
   margin:0px !important;
   padding:0px;
   padding-right:20px;
}

.nav_group a{
  display:inline-block;
  font-size:12pt;
  line-height:12pt;
  margin:0px;
  color:white;
  margin-left:20px;
  margin-top:-10px;
}

.nav_group a:hover{
  border-bottom:1px solid white;
}

#corner_nav{
  position:absolute;
  right:50px;
  width:300px;
  z-index:900;
}

#corner_nav a{
  display:block;
  color:white;
  font-family: 'Lato', sans-serif;
  font-size:18px;
}


.section{
  margin:0 auto; width:550px;
  color:#eee;
  position:relative;
}

.section a{
  color:rgb(170,170,170);
}

a.btn{
  color:#333;
}

.section p{
  font-size:12pt;
  line-height:200%;
  font-family: "Lora", serif;
  margin-bottom:20px;
}

#content .row:nth-child(2n+1){
  background:rgb(82,82,82);
}

.section h2{
  font-size:28px;
  font-family: 'Lato', sans-serif;
  text-align:center;
  margin-bottom:20px;
  text-shadow:1px 1px 3px rgba(31,31,31,0.5);
}

.section hr{
  width:80%;
  margin:0 auto;
  margin-bottom:40px;
  border-color:#aaa;
}

.correct_account{
  margin: 0 auto;
  background:rgb(72,72,72);
  border-radius:5px;
  padding:10px;
  margin-bottom:5px;
  position:relative;
  width:80%;
}

.correct_account img{
  border-radius:5px;
  vertical-align:top;
  height: 48px !important;
  width: 48px !important;
}

.correct_account .account{
  display:inline-block;
  margin-left:10px;
}

.correct_account .screen_name{
  display:block;
  font-family: 'Lato', sans-serif;
  color:white;
  font-size:11pt;
}

.correct_account a.screen_name:hover{
  text-decoration:none;
}

.correct_account .name{
  display:block;
  font-family: "Lora", serif;
  font-size:11pt;
}

.correct_account .corrections{
  position:absolute;
  right:0px;
  margin-right:10px;
}

.correction{
  display:inline-block;
  font-family: 'Lato', sans-serif;
  font-size:20px;
  font-weight:bold;
  color:white;
  width:40px;
  height:40px;
  background:rgb(91,91,91);
  border-radius:30px;
  text-align:center;
  line-height:40px;
  margin:5px;
  margin-left:10px;
  cursor:pointer;
}

.correction.Male,.gender_label.Male{
  background:rgb(113,121,132);
}

.correction.Female,.gender_label.Female{
  background:rgb(152,116,124);
}

.correction.Omit,.gender_label.Omit{
  background:rgb(41,41,41);
  display:none;
}

.correction.Unknown{
  background:rgb(91,91,91);
}

.correction.selected{
  border:5px solid white;
  box-shadow:0px 0px 10px #aaa;
  margin:0px;
  margin-left:5px;
}

.correction.Male.selected{
  background:rgb(143,159,182);
}

.correction.Female.selected{
  background:rgb(222,149,166);
}

.correction.Unknown.selected,.gender_label.Unknown{
  background:rgb(130,130,130);
}

.correction.Omit.selected{
  background:#363636;
}

.label_row{
  margin-bottom:20px;
  text-align:center;
}

.gender_label{
  display:inline-block;
  font-family: 'Lato', sans-serif;
  font-size:11pt;
  box-shadow:0px 0px 2px rgb(80,80,80);
  padding-left:5px;
  padding-right:5px;
  margin-left:5px;
  margin-right:5px;
}

.arrow-left,.arrow-right{
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: inline-block;
  /* Use font-size to control the size of the arrow. */
  font-size: 40px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
}

.arrow-right{
  border-left-width: 1em;
  border-left-style: solid;
  border-left-color: #eee;
  left: 0.25em; 
}

.arrow-left{
  border-right-width: 1em;
  border-right-style: solid;
  border-right-color: #eee;
  right: 0.25em;
}

.page_label{
  position:absolute;
  display:inline-block;
  width:70px;
  top:10px;
}
.next-page .page_label{
  left:60px
}
.prev-page .page_label{
  right:45px
}

.prev-page,.next-page{
  position:absolute;
  top:50%;
}
.prev-page{
  left:-15px;
}

.next-page{
  left:510px;
}

.arrow-right:hover{
  border-left-color:#aaa;
}

.arrow-left:hover{
  border-right-color:#aaa;
}

#start_corrections{
  margin-top:20px;
  margin-bottom:20px;
  font-weight:bold;
}

.dubstep_cat{
  margin-top:40px;
}
