  <div id="post_survey" class="modal">
    <div class="modal-header">
      <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
      <h3>Final Survey Questions</h3>
    </div>
    <div class="modal-body">
      <p>Now that you have seen your FollowBias, can you please answer these final questions?</p>
      <form name="final_survey" action="/followbias/final_survey" method="post" id="final_survey">
      <fieldset>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

        <span class="help-block">Are you satisfied with your score in the FollowBias result?</span>
        <label class="radio inline">
          <input type="radio" name="satisfied_with_followbias" value="Y"> Yes
        </label>
        <label class="radio inline">
          <input type="radio" name="satisfied_with_followbias" value="N"> No
        </label>
        <hr/>

        <span class="help-block">Do you think that FollowBias will influence who you choose to follow in the future?</span>
        <label class="radio inline">
          <input type="radio" name="will_it_influence" value="Y"> Yes
        </label>
        <label class="radio inline">
          <input type="radio" name="will_it_influence" value="N"> No
        </label>
        <hr/>

        <span class="help-block">What actions might you take after seeing your FollowBias?</span>
        <label class="checkbox">
          <input type="checkbox" name="change" value="more_diversity_attn"> Pay more attention to gender diversity
        </label>
        <label class="checkbox">
          <input type="checkbox" name="change" value="track"> Begin to track gender diversity
        </label>
        <label class="checkbox">
          <input type="checkbox" name="change" value="increase_follow"> Increase the gender diversity of who you follow
        </label>
        <label class="checkbox">
          <input type="checkbox" name="change" value="ask"> Ask your network for recommendations of people to follow, with reference to gender
        </label>
        <label class="checkbox">
          <input type="checkbox" name="change" value="increase_RT"> Increase the gender diversity of who you RT/Reblog
        </label>
        <label class="checkbox">
          <input type="checkbox" name="change" value="increase_ment"> Increase the gender diversity of who you quote/mention
        </label>
        <label class="checkbox">
          <input type="checkbox" name="change" value="other"> Other:
        </label>
        <input type="text" name="change_other" placeholder="enter your own">
        <hr/>

        <span class="help-block">What goals would you set for your FollowBias?</span>
        <input class="input-mini" name="percent_women_goal" type="text" style="text-align:right;"> % Female 
        <input class="input-mini" name="percent_women_goal" type="text" style="text-align:right;"> % Male
        <input class="input-mini" name="percent_women_goal" type="text" style="text-align:right;"> % Brands, Bots, and More

        <span class="help-block">Diversity is more complex than a single percentage. What makes your FollowBias complex?</span>
        <textarea name="explain_complexity" rows="3" style="width:95%"></textarea>

        <hr/>
        <span class="help-block">Any thoughts? Comments?  Ideas?  Feedback?</span>
        <textarea name="comments_ideas" rows="3" style="width:95%"></textarea>
      </fieldset>
      </form>

    </div>
    <div class="modal-footer">
      <a class="btn btn_close">Close</a>
      <a class="btn btn-primary btn_save">Save changes</a>
    </div>
  </div>

<script id="post_survey_thanks" type="text/template">
  <p>Thank you for taking this survey! Your answers have been recorded.</p>
</script>
