<!--BEGIN QUALTRICS POPUP-->
<!--<script type="text/javascript">
var q_viewrate=100;
if (Math.random() < q_viewrate / 100){var q_popup_f = function(){var q_script = document.createElement("script");var q_popup_g = function(){new QualtricsEmbeddedPopup({
	id: "SV_3faNJtWl9jrarRj",
	imagePath: "https://qdistribution.qualtrics.com/WRQualtricsShared/Graphics/",
	surveyBase: "https://qtrial.qualtrics.com/WRQualtricsSurveyEngine/",
	delay:01,
	preventDisplay:0,
	animate:false,
	width:400,
	height:300,
	surveyPopupWidth:900,
	surveyPopupHeight:600,
	startPos:"ML",
	popupText:"While we generate your results, please take this survey. Thanks!",
	linkText:"Click Here"
});};q_script.onreadystatechange= function () {if (this.readyState == "loaded") q_popup_g();};q_script.onload= q_popup_g;q_script.src="https://qdistribution.qualtrics.com/WRQualtricsShared/JavaScript/Distribution/popup.js";document.getElementsByTagName("head")[0].appendChild(q_script);};if (window.addEventListener){window.addEventListener("load",q_popup_f,false);}else if (window.attachEvent){r=window.attachEvent("onload",q_popup_f);}else {};};
</script>
<noscript><a target="_blank" href="https://qtrial.qualtrics.com/WRQualtricsSurveyEngine/?SID=SV_3faNJtWl9jrarRj">Click Here</a><br/></noscript> 
-->
<!--END QUALTRICS POPUP-->
