  <div id="shh" class="modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Shhhhhh!</h3>
    </div>
    <div class="modal-body">
      <p>Welcome! Thank you for being a part of this experiment with FollowBias! Since we're still evaluating it, please keep it private (shhhh!!!) As software, it still needs features and polish before we share it publicly.</p>
<p><b>Participation in this experiment is confidential</b>; your survey responses are secure and private. We will not, without written permission, disclose your participation or publish material that could identify any individual participant.</p><p> Your privacy and comfort are important: please contact us if you have any questions or if we can provide more details.</p>
<a href="https://twitter.com/FollowBias" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @FollowBias</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <div class="modal-footer">
      <a class="btn btn_close">I'll keep the secret!</a>
    </div>
  </div>
