<div id="followbias">
  <div id="foreground">
    <div class="contents">
			<h1 id="chapter_one" class="chapter">Episode 1 &mdash; Gender</h1>
			<h2 id="personal_see" class="subheading">On Twitter, who does @natematias see?</h2>
    </div>
  </div>
  <div id="background">
        <div id="men_percent">42%</div>
        <div id="women_percent">45%</div>
        <img id="main_glasses" src="/img/followbias-goggles.svg"/>
  </div>
</div>


</div>

<div class="container" id="content">

  <div class="row" id="friends">
  &nbsp;
  </div>

  <div class="row" id="data_explanation">
  &nbsp;
  </div>

  <div class="row" id="help">
  &nbsp;
  </div>

  <div class="row" id="about">
  &nbsp;
  </div>

</div>

