<div id="topbar">
      <span class="baritem" style="background:rgb(105,127,158);color:rgb(150,165,187);">FOLLOW BIAS</span>
      <span class="baritem" style="background:rgb(211,113,136);left:50%;">&nbsp;</span>
      <a class="brand">
        <span class="men" id="topbar_men">39%</span>
        <img src="/img/followbias-goggles.svg" style="height:60px;"/>
        <span class="women" id="topbar_women">37%</span>
      </a>
</div>


<div id="followbias">
  <div id="foreground">
    <div class="contents">
			<h1 id="chapter_one" class="chapter">Episode 1 &mdash; Gender</h1>
			<h2 id="personal_see" class="subheading">On Twitter, who does <%=current_user.screen_name%> see?</h2>
    </div>
  </div>
  <div id="background">
        <div id="men_percent"></div>
        <div id="women_percent"></div>
        <img id="main_glasses" src="/img/followbias-goggles.svg"/>
  </div>
</div>

<div class="container" id="content">

<!--  <div class="row" id="friends">
    <div class="section">
			<h2>How do my friends compare?</h2>
			<hr/>
    </div>
  
  </div> -->

  <div class="row" id="data_explanation">
     
    <div class="section">
			<h2>Where does this data come from?</h2>
			<hr/>
			<p>It has already been hinted that Tuesday was a day of general mortification in Pym's copy-department. The trouble was caused by Messrs. Toule &amp; Jollop, proprietors of Nutrax, Maltogene, and Jollop's Concentrated Lactobeef Tablets for Travellers. Unlike the majority of clients who, though all tiresome in their degree, exercised their tiresomeness by post from a reasonable distance and at reasonable intervals, Messrs. Toule &amp; Jollop descended upon Pym's every Tuesday for a weekly conference. </p>
    </div>
  
  </div>

  <div class="row" id="help">
    <div class="section">
			<h2>Help!</h2>
      <hr/>
      <p>Right now, we're trying to improve our data quality, and you can help by fixing any miscategorized followers below. You'll see your own score get more accurate as you work. Just click on the correct category.</p>

      <div class="label_row">
				<div class="label gender_label Male"><span class="value"></span> Men</div>
				<div class="label gender_label Female"><span class="value"></span> Women</div>
				<div class="label gender_label Unknown"><span class="value"></span> Brands &amp; Bots</div>
				<div class="label gender_label Omit"><span class="value"></span> Omitted</div>
      </div>
      <div class="next-page"><div class="arrow-right"> </div></div>
      <div class="prev-page"><div class="arrow-left"> </div></div>
      <div id="accounts_page"></div>

      <!-- begin account correction entry --> 
<!--      <div class="correct_account">
				<img src="http://twimg0-a.akamaihd.net/profile_images/53907183/P1000090_normal.jpg"/>
        <span class="account">
			    <span class="name">dearsarah</span>
					<a class="screen_name" href="https://twitter.com/dearsarah">@dearsarah</a> 
        </span>
        <span class="corrections">
					<div class="correction m">M</div>
					<div class="correction f">F</div>
					<div class="correction b selected">B</div>
					<div class="correction x">X</div>
       </span>
			</div>-->

    </div>
  </div>

  <div class="row" id="about">
    <div class="section">
 		  <h2>About!</h2>
      <hr/>
      <p>To Lord Peter Wimsey, the few weeks of his life spent in unravelling the Problem of the Iron Staircase possessed an odd dreamlike quality, noticeable at the time and still more insistent in retrospect. The very work that engaged him—or rather, the shadowy simulacrum of himself that signed itself on every morning in the name of Death Bredon—wafted him into a sphere of dim platonic archetypes, bearing a scarcely recognizable relationship to anything in the living world.</p>
    </div>
  </div>

</div>

<script id="correct_account_template" type="text/template">
	<div class="correct_account" data-id="{{=account.uuid}}">
		<img src="{{=account.profile_image_url}}"/>
		<span class="account">
			<span class="name">{{=account.name}}</span>
			<a class="screen_name" href="https://twitter.com/{{=account.screen_name}}">@{{=account.screen_name}}</a>
		</span>
		<span class="corrections">
			<div class="correction Male {{if(account.gender=="Male"){ }}selected{{ } }}" data-gender="Male">M</div>
			<div class="correction Female {{if(account.gender=="Female"){ }}selected{{ } }}" data-gender="Female">F</div>
			<div class="correction Unknown {{if(account.gender=="Unknown"){ }}selected{{ } }}" data-gender="Unknown">B</div>
			<div class="correction Omit" data-gender="Omit">X</div>
	 </span>
	</div>
</script>

<script type="text/javascript" language="Javascript">
  var followbias_screen_name = "<%=current_user.screen_name%>";
</script>
