
    <div id="background" style="top:0px; bottom:0px; width:100%; position:absolute;z-index:10; margin:0px; padding:0px;"></div>
    <div id="foreground" style="font-family: 'Lato', sans-serif; font-weight:400; font-size:78px; line-height:80px; position:absolute; z-index:100; width:100%;top:50%; display:inline-block;text-align:center;"><div style="position:relative;top:-50%;opacity:0.3; color:#fff; margin-left:-60px; margin-top:-70px;">FOLLOW BIAS</a></div>

<div id="start" style="left:-50%"><%= link_to image_tag("https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png", :border=>0, :alt=>"Sign in with Twitter"), "/auth/twitter" %></div>
    </div>

