<!DOCTYPE html>
<html>
<head>
  <title>FollowBias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lato:900' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <%= stylesheet_link_tag "main", :media => "all" %>
		<%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

    <script src="https://raw.github.com/DmitryBaranovskiy/raphael/master/raphael-min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/styles/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://backbonejs.org/backbone-min.js"></script>
    <%= javascript_include_tag "followbias.js"%>
</body>
</html>
